In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("C:\\Users\\HP\\Desktop\\Spam Classifier\\spam_ham_dataset.csv")

In [6]:
data

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [15]:
vectorizer=CountVectorizer()
#We use CountVectorizer to split up each message into its list of words, 
#and throw that into a MultinomialNB classifier.
counts=vectorizer.fit_transform(data["text"].values)
classifier=MultinomialNB()
targets=data["label"].values
classifier.fit(counts,targets)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

# Predicting

In [13]:
data["text"][0]#Ham data we will use for testing

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [17]:
data["text"][3]#Spam data we will use for testing

'Subject: photoshop , windows , office . cheap . main trending\r\nabasements darer prudently fortuitous undergone\r\nlighthearted charm orinoco taster\r\nrailroad affluent pornographic cuvier\r\nirvin parkhouse blameworthy chlorophyll\r\nrobed diagrammatic fogarty clears bayda\r\ninconveniencing managing represented smartness hashish\r\nacademies shareholders unload badness\r\ndanielson pure caffein\r\nspaniard chargeable levin\r\n'

In [18]:
examples = ['this is a follow up to the note i gave you on monday', "basements darer prudently fortuitous undergone"]
example_counts = vectorizer.transform(examples)
predictions = classifier.predict(example_counts)
predictions

array(['ham', 'spam'], dtype='<U4')

In [ ]:
examples = ['this is a follow up to the note i gave you on monday', "basements darer prudently fortuitous undergone"]
example_counts = vectorizer.transform(examples)
predictions = classifier.predict(example_counts)
predictions